<h1>Products 2</h1>

<% @products.each do |product| %>

	<div class="product">
	  <h3>
	    <%= link_to product.name, product %>
	    <%= number_to_currency(product.price) %>
	  </h3>
	  Category: <%= product.category.name %>
	  <%= form_for product.cart_items.build do |f| %>
	    <%= f.hidden_field :product_id %>
	    <%= f.submit "Add to Cart" %>
	  <% end %>
	</div>


    <p><%= link_to 'Show', product %></p>
    <p><%= link_to 'Edit', edit_product_path(product) %></p>
    <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </tr>
 
<% end %>

<br />

<%= link_to 'New Product', new_product_path %>
